{% extends 'base.html.twig' %}

{% block title %}Correction index{% endblock %}

{% block body %}
    <h1>Correction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>NbrCopie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for correction in corrections %}
            <tr>
                <td>{{ correction.id }}</td>
                <td>{{ correction.date ? correction.date|date('Y-m-d') : '' }}</td>
                <td>{{ correction.nbrCopie }}</td>
                <td>
                    <a href="{{ path('app_correction_show', {'id': correction.id}) }}">show</a>
                    <a href="{{ path('app_correction_edit', {'id': correction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_correction_new') }}">Create new</a>
{% endblock %}
